# how to query an SQL file

In [1]:
import pandas as pd
import sqlite3

In [3]:
df = pd.read_csv(r'C:\Users\sspal\Documents\GitHub\Data-Science-Labs\Course9_Machine Learning with Python\ratings.csv')
# creates database, if db already exists just connects to db
conn = sqlite3.connect("Ratings_Database.db") # name it whatever i want, has to end in .db, no spaces
# store table in database
#df.to_sql('table_name',conn)
# read a sql query out of your database and into a pandas dataframe
sql_string = 'SELECT * FROM table_name'
df = pd.read_sql(sql_string, conn)

In [4]:
df

             index  userId  movieId  rating   timestamp
0                0       1      169     2.5  1204927694
1                1       1     2471     3.0  1204927438
2                2       1    48516     5.0  1204927435
3                3       2     2571     3.5  1436165433
4                4       2   109487     4.0  1436165496
...            ...     ...      ...     ...         ...
22884372  22884372  247753    49530     5.0  1430437962
22884373  22884373  247753    69481     3.0  1430437984
22884374  22884374  247753    74458     4.0  1430437968
22884375  22884375  247753    76093     5.0  1430437811
22884376  22884376  247753   130636     0.5  1430437721

[22884377 rows x 5 columns]