# Course 4 Lab 6 - Sets in Python

In [1]:
# create a set
set1 = {'pop', 'rock', 'soul', 'hard rock', 'rock', 'r&b', 'disco'}
set1
# duplicate items will be automatically removed

{'disco', 'hard rock', 'pop', 'r&b', 'rock', 'soul'}

In [2]:
# convert a list to a set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19","Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

### Set operations

In [4]:
# create a sample set
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [6]:
# add an element to the set
A.add('NSYNC')
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [8]:
# remove an element from the set
A.remove('NSYNC')
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [9]:
# Verify an element is in the set
'AC/DC' in A

True

### Sets Logic Operations

In [10]:
# Sample Sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [11]:
# print the two sets
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [13]:
# find the intersection
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [14]:
# find the different in set 1 and set 2
album_set1.difference(album_set2)

{'Thriller'}

In [15]:
# find the interesection using the intersection method
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [16]:
# find the union 
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [17]:
# Check if superset
set(album_set1).issuperset(album_set2)

False

In [18]:
# check if subset
set(album_set2).issubset(album_set1)

False

### Practice

In [20]:
# Convert the list ['rap','house','electronic music', 'rap'] to a set
list1 = ['rap','house','electronic music', 'rap']
set1 = set(list1)
set1

{'electronic music', 'house', 'rap'}

In [21]:
# Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?
ListA = [1,2,2,1]
SetB = set([1,2,2,1])
print('the sum of A is ', sum(ListA))
print('the sum of B is ', sum(SetB))

the sum of A is  6
the sum of B is  3

In [23]:
# Create a new set album_set3 that is the union of album_set1 and album_set2:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [24]:
# Find out if album_set1 is a subset of album_set3:
album_set1.issubset(album_set3)

True