# Course 4 Lab 21 - Web Scraping

In [1]:
# libraries
# !pip install bs4
# !pip install lxml==4.6.4
# !pip install html5lib==1.1 
#!pip install requests==2.26.0
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [2]:
# store as a string in the variable html
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [3]:
# parse the document by passing it into the beautiful soup constructor
soup = BeautifulSoup(html, 'html.parser')

In [4]:
# use the method prettify
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

### Tags

In [5]:
# use tags to get the title of the page and the name of the top paid player
tag_object = soup.title
print('tag object: ',tag_object)

tag object:  <title>Page Title</title>

In [6]:
# get the type of the tag
print('tag object type: ',type(tag_object))

tag object type:  <class 'bs4.element.Tag'>

In [7]:
# most paid player
tag_object = soup .h3
tag_object

### Children, parents, siblings

In [8]:
# access the child of a tag or navigate down a branch
tag_child = tag_object.b
tag_child

In [9]:
# access the parent
parent_tag = tag_child.parent
parent_tag

In [10]:
# this is identical to
tag_object

In [11]:
# tag_object parent is the body element
tag_object.parent

In [12]:
# tag object sibling is the paragraph element
sibling_1 = tag_object.next_sibling
sibling_1

In [13]:
# sibling_2 is the header element which is also a sibling of both sibling_1 and tag_object
sibling_2 = sibling_1.next_sibling
sibling_2

In [14]:
# Using the object sibling_2 and the property next_sibling to find the salary of Stephen Curry:
sibling_3 = sibling_2.next_sibling
sibling_3

### HTML Attributes

In [15]:
# if the tag has attributes, the tag id=boldest has an attribute id whose value is boldest
# you can access a tags attributes by treating the tag like a dict
tag_child['id']

'boldest'

In [16]:
# you can access that dictionary directly as attrs
tag_child.attrs

{'id': 'boldest'}

In [17]:
# you can also obtain the content of the attribute of the tag using the get() method
tag_child.get('id')

'boldest'

### Navigable String

In [18]:
# extract the string of tag_child
tag_string=tag_child.string
tag_string

'Lebron James'

In [19]:
type(tag_string)

bs4.element.NavigableString

In [20]:
# convert the navigable string to a typical python unicode string
unicode_string = str(tag_string)
unicode_string

'Lebron James'

### Filter

In [21]:
# store data as a string in the variable table
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"
table_bs = BeautifulSoup(table, "html.parser")

In [22]:
# use the find all method with name set to a tag name to extract the tags with that name
table_rows = table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

In [23]:
# iterate 
first_row = table_rows[0]
first_row

In [24]:
# find the type
print(type(first_row))

<class 'bs4.element.Tag'>

In [25]:
# obtain the child
first_row.td

In [26]:
# iterate through the list, each component corresponds to a row in the table
for i, row in enumerate(table_rows):
    print('row', i, 'is', row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

In [27]:
# apply the find all method to extract table cells in the object using the tag td
for i, row in enumerate(table_rows):
    print('row',i)
    cells = row.find_all('td')
    for j,cell in enumerate(cells):
        print('column', j,'cell',cell)

row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
column 2 cell <td>80 kg</td>

In [28]:
# if we use a list we can match against any item in that list
list_input = table_bs.find_all(name=['tr','td'])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

### Attributes

In [29]:
# the first td elements have a value of id of flight, therefore we can filter based on id value
table_bs.find_all(id='flight')

In [30]:
# we can find all the elements that have links to the florida wikipedia page
list_input=table_bs.find_all(href='https://en.wikipedia.org/wiki/Florida')
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

In [31]:
# if we set href attribute to true, regardless of what the calue is, the code finds all tags with href value
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

### practice

In [32]:
# using the logic about find all the elements without the href value
table_bs.find_all(href=False)

[<table><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr></table>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <a> </a>,
 <td>80 kg</td>]

In [33]:
# using the soup object soup find the element wiht the id attribute content set to boldest
soup.find_all(id='boldest')

### String

In [34]:
# with string you can search for strings instead of tags where we find all the elements with Florida
table_bs.find_all(string='Florida')

['Florida', 'Florida']

### Find

In [35]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [36]:
# store the html as a python string 
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [37]:
# create a beautiful soup object
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

In [38]:
# find the first table using the tag name table
two_tables_bs.find('table')

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [39]:
# filter on the class attribute to find the second table, but because the class is a keyword in python we add an underscore
two_tables_bs.find('table',class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

### Downloading and scraping the contents of a web page

In [40]:
# we download the contents of a webpage
url = 'http://www.ibm.com'

In [41]:
# we use get to download the contents of the webpage in text format and store in a variable called data
data = requests.get(url).text

In [42]:
# we create a beautiful soup object using the beautiful soup constructor
# create a soup object using the variable data
soup = BeautifulSoup(data,'html.parser')

In [43]:
# scrape all links
# in html anchor/link is represented by the tag <a>
for link in soup.find_all('a',href=True):
    print(link.get('href'))

#main-content
http://www.ibm.com
https://www.ibm.com/resources/guides/business-operations/sustainability-core-business-strategy?lnk=ushpv18l1
#ibm-hp--tech-section
https://www.ibm.com/consulting/?lnk=ushpv18intro2
https://www.ibm.com/cloud/wazi-as-a-service?lnk=ushpv18f1
https://community.ibm.com/community/user/security/events/event-description?CalendarEventKey=8de98f1a-9745-46e1-a061-21a9bbcc715f&CommunityKey=9d8b7835-e47a-4850-b400-d8c77708af84&lnk=ushpv18f2
https://www.ibm.com/thought-leadership/institute-business-value/en-us/c-suite-study/csco?lnk=ushpv18f3
https://www.ibm.com/thought-leadership/new-creators/dustin-heywood/?lnk=ushpv18f4
https://research.ibm.com/blog/AI-updated-virtual-agent?lnk=ushpv18r1
https://research.ibm.com/blog/AI-updated-virtual-agent?lnk=ushpv18r1
https://www.research.ibm.com/blog/accelerating-discovery-health-care?lnk=ushpv18r2
https://research.ibm.com/blog/2023-quantum-internships?lnk=ushpv18r3
https://research.ibm.com/blog/goldeneye-cryogenic-concept-system?lnk=ushpv18r4
https://www.ibm.com/case-studies/search?lnk=ushpv18mAll
https://www.ibm.com/case-studies/roma-capitale/?lnk=ushpv18m1
https://www.ibm.com/case-studies/change-machine/?lnk=ushpv18m2
https://www.ibm.com/case-studies/meemoo/?lnk=ushpv18m3
https://www.ibm.com/products?types[0]=trial&lnk=STW_US_MPDISC_BNR_BTN&lnk2=THP&lnk3=ushpv18tAll
https://www.ibm.com/products/offers-and-discounts?link=ushpv18t5&lnk2=trial_mktpl_MPDISC
https://www.ibm.com/cloud/instana?lnk=ushpv18t1&lnk2=trial_Instana&psrc=none&pexp=def
https://www.ibm.com/products/watson-assistant?lnk=ushpv18t2&lnk2=trial_WatAssist&psrc=none&pexp=def
https://www.ibm.com/products/maas360?lnk=ushpv18t3&lnk2=trial_MaaS360Wat&psrc=none&pexp=def
https://www.ibm.com/search?lnk=ushpv18srch&locale=en-us&q=
https://www.ibm.com/products?lnk=ushpv18p1&lnk2=trial_mktpl&psrc=none&pexp=def
https://www.ibm.com/cloud/hybrid?lnk=ushpv18pt14
https://www.ibm.com/watson?lnk=ushpv18pt17
https://www.ibm.com/it-infrastructure?lnk=ushpv18pt19
https://www.ibm.com/blockchain?lnk=ushpv18pt4
https://www.ibm.com/security/products?lnk=ushpv18pt9
https://www.ibm.com/analytics/products?lnk=ushpv18pt1
https://www.ibm.com/cloud/automation?lnk=ushpv18ct21
https://www.ibm.com/quantum-computing?lnk=ushpv18pt16
https://www.ibm.com/mysupport/s/?language=en_US&lnk=ushpv18ct11
https://www.ibm.com/training/?lnk=ushpv18ct15
https://community.ibm.com/community/user/home/?lnk=ushpv18ct20
https://developer.ibm.com/?lnk=ushpv18ct9
https://www.ibm.com/garage?lnk=ushpv18pt18
https://www.ibm.com/docs/en?lnk=ushpv18ct14
https://www.redbooks.ibm.com/?lnk=ushpv18ct10
https://www.ibm.com/subscribe/?lnk=ushpv18ct22
https://www-03.ibm.com/employment/technicaltalent/developer/?lnk=ushpv18ct2
https://www.ibm.com/

In [44]:
# scrape all image tags
# in html image is represented by the tag <img>
for link in soup.find_all('img'):
    print(link)
    print(link.get('src'))

<img alt="" aria-hidden="true" role="presentation" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1NSIgaGVpZ2h0PSI1MjcuNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=" style="max-width:100%;display:block;margin:0;border:none;padding:0"/>
data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1NSIgaGVpZ2h0PSI1MjcuNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=
<img alt="abstract line drawing of a girl, some trees, a farmhouse and the sun shining overhead" class="ibm-resize" decoding="async" src="https://1.dam.s81c.com/p/08f951362fa700ec/20220926-ls-sustainability-smart-paper-26988-720x360.png" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"/>
https://1.dam.s81c.com/p/08f951362fa700ec/20220926-ls-sustainability-smart-paper-26988-720x360.png
<img alt="Graphic of a laptop, mainframe and cloud connected to a Wazi logo" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0944d56323c6b1ff/20220926-26975-Wazi-aaS-444x333.jpg_.jpg"/>
https://1.dam.s81c.com/p/0944d56323c6b1ff/20220926-26975-Wazi-aaS-444x333.jpg_.jpg
<img alt="A man standing on a city sidewalk looking at his smartphone" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/06e2f56c8a3abd32/ma69279.jpg.global.s_4x3.jpg"/>
https://1.dam.s81c.com/p/06e2f56c8a3abd32/ma69279.jpg.global.s_4x3.jpg
<img alt="Logo of a stylized C made up of dots" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0944d56338c6b4b8/20220926-26928-IBV-CSCO-Study-dots-444x333.jpg"/>
https://1.dam.s81c.com/p/0944d56338c6b4b8/20220926-26928-IBV-CSCO-Study-dots-444x333.jpg
<img alt="headshot of Dustin Heywood not looking like an Evil Mog" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/08244793754533bd/20220530-f-new-creators-dustin-haywood-444x320.jpg"/>
https://1.dam.s81c.com/p/08244793754533bd/20220530-f-new-creators-dustin-haywood-444x320.jpg
<img alt="composite of facial parts and audio speaker elements" class="bx--image__img" src="https://1.dam.s81c.com/p/08f951362fa700f2/20220926-r1-text-to-speech-26995-1600x900.jpg"/>
https://1.dam.s81c.com/p/08f951362fa700f2/20220926-r1-text-to-speech-26995-1600x900.jpg
<img alt="lab with lots of equipment on tables and in the wall" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/074d642fd0bab026/20220228-r-green-chemistry-enzymes-26440-800x450.jpg"/>
https://1.dam.s81c.com/p/074d642fd0bab026/20220228-r-green-chemistry-enzymes-26440-800x450.jpg
<img alt='Three young people wearing t-shirts that say "I am a future quantum leader"' class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/08f951362fa700eb/20220926-r-ibm-quantum-summer-internships-26979-800x450.jpg"/>
https://1.dam.s81c.com/p/08f951362fa700eb/20220926-r-ibm-quantum-summer-internships-26979-800x450.jpg
<img alt="a man works on a large, round metallic portal door" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/08f951359da70bf9/20220912-r1-super-fridge-1600x900.jpg"/>
https://1.dam.s81c.com/p/08f951359da70bf9/20220912-r1-super-fridge-1600x900.jpg
<img alt="A street scene in Rome featuring domed buildings" class="bx--image__img" src="https://1.dam.s81c.com/p/08f951362fa700f0/20220926-m-roma-capitale-26981-1600x900.jpg"/>
https://1.dam.s81c.com/p/08f951362fa700f0/20220926-m-roma-capitale-26981-1600x900.jpg
<img alt="A woman at a desk with a laptop and a calculator, holding a printout in her left hand, making notes with her right" class="bx--image__img" src="https://1.dam.s81c.com/p/0944d5632246b0c6/20220919-m-change-machine-26971-1600x900.jpg"/>
https://1.dam.s81c.com/p/0944d5632246b0c6/20220919-m-change-machine-26971-1600x900.jpg
<img alt="A boy and a girl react to something on a laptop operated by their young, bearded teacher" class="bx--image__img" src="https://1.dam.s81c.com/p/08f951359da70bfc/20220912-m-meemooo-26950-1600x900.jpg"/>
https://1.dam.s81c.com/p/08f951359da70bfc/20220912-m-meemooo-26950-1600x900.jpg
<img alt="software product interface featuring bar graphs and other information" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/08f951362f270092/Instana-trial-800x450.jpg"/>
https://1.dam.s81c.com/p/08f951362f270092/Instana-trial-800x450.jpg
<img alt="online dashboard showing information such as a pie chart" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/ee/15/20220216-t-ibm-watson-assistant.png"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/ee/15/20220216-t-ibm-watson-assistant.png
<img alt="the Maas360 interface showing alerts, stats and notices" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/075b9d6845a4394d/MaaS360-with-Watson-trial-800x450.jpg"/>
https://1.dam.s81c.com/p/075b9d6845a4394d/MaaS360-with-Watson-trial-800x450.jpg

### Scrape data for HTML tables

In [45]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [46]:
# get the contents of the webpage in text format anf store in a variable called data
data = requests.get(url).text

In [47]:
soup=BeautifulSoup(data,'html.parser')

In [48]:
# find a html table in the web page
# in html table is <table>
table = soup.find('table')

In [49]:
# get all rows from the table
# in html table row is <tr>
for row in table.find_all('tr'):
    # get all the columns in each row
    # a column is <td>
    cols = row.find_all('td')
    # store the value in column 3 as color name
    color_name = cols[2].string
    # store the value in column 4 as color code
    color_code = cols[3].string
    print('{}--->{}'.format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

### Scrape data from html tables into a dataframe using beautifulsoup and pandas

In [50]:
import pandas as pd

In [51]:
# the below url contains html tables with data about world population
url = "https://en.wikipedia.org/wiki/World_population"

In [52]:
# get the contents of the webpage in text format and store in data
data = requests.get(url).text

In [53]:
soup = BeautifulSoup(data,'html.parser')

In [54]:
# find all html tables in the web page
tables = soup.find_all('table')

In [55]:
# we can see how many tables were found by checking length of the tables list
len(tables)

25

In [56]:
# search for 10 most densley populated countries in the table
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

In [57]:
# see if you can locate the name of the table 10 most densly populated countries
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    173,470,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,205
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <img alt="" class="thumbborder" data-file-height="216" data-file-width="432" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
     </span>
     <a href="/wiki/State_of_Palestine" title="State of Palestine">
      Palestine
     </a>
    </p>
   </td>
   <td>
    5,266,785
   </td>
   <td>
    6,020
   </td>
   <td>
    847
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,750,000
   </td>
   <td>
    41,526
   </td>
   <td>
    427
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,580,000
   </td>
   <td>
    22,072
   </td>
   <td>
    434
   </td>
  </tr>
 </tbody>
</table>

In [58]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank           Country   Population     Area Density
0    1         Singapore    5,704,000      710   8,033
1    2        Bangladesh  173,470,000  143,998   1,205
2    3  \n Palestine\n\n    5,266,785    6,020     847
3    4           Lebanon    6,856,000   10,452     656
4    5            Taiwan   23,604,000   36,193     652
5    6       South Korea   51,781,000   99,538     520
6    7            Rwanda   12,374,000   26,338     470
7    8             Haiti   11,578,000   27,065     428
8    9       Netherlands   17,750,000   41,526     427
9   10            Israel    9,580,000   22,072     434

### scrape data from html tables into a datafram using Beautiful Soup and read_html

In [59]:
pd.read_html(str(tables[5]),flavor='bs4')

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   173470000     143998              1205
 2     3    Palestine     5266785       6020               847
 3     4      Lebanon     6856000      10452               656
 4     5       Taiwan    23604000      36193               652
 5     6  South Korea    51781000      99538               520
 6     7       Rwanda    12374000      26338               470
 7     8        Haiti    11578000      27065               428
 8     9  Netherlands    17750000      41526               427
 9    10       Israel     9580000      22072               434]

In [60]:
# the function read html always returns a list of dataframes so we must pick the one we want
population_data_read_html = pd.read_html(str(tables[5]),flavor = 'bs4')[0]
population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   173470000     143998              1205
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17750000      41526               427
9    10       Israel     9580000      22072               434

### Scrape data from html tables into a dataframe using read html

In [61]:
# use read html to directly get datframes from a url
dataframe_list = pd.read_html(url, flavor='bs4')

In [62]:
# find the number of dataframes
len(dataframe_list)

25

In [63]:
# pick the data drame we need out of the list
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   173470000     143998              1205
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17750000      41526               427
9    10       Israel     9580000      22072               434

In [64]:
# use the match parameter to select the specific table we want
pd.read_html(url, match = '10 most densely populated countries', flavor = 'bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   173470000     143998              1205
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17750000      41526               427
9    10       Israel     9580000      22072               434