# Course 6 Lab 12 - Final Lab
### Sarah Spalding  
This lab involves three datasets:  
1. Chicago Socioeconomic Indicators [Link](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01)
2. Chicago Public Schools [Link](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01)
3. Chicago Crime Data [Link](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01)

In [15]:
# libraries 
#!pip install --user --force-reinstall ibm_db ibm_db_sa
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
#!pip install --user sqlalchemy==1.4.40
#!pip install --user ipython-sql
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
# import out secrets
from dotenv import load_dotenv
import os
# reads the env file in our repository
load_dotenv()
# top secret variables
dsn_hostname = os.environ.get("HOSTNAME")     
dsn_uid = os.environ.get("USERNAME")      
dsn_pwd = os.environ.get("PASSWORD")

In [17]:
# load the database
%sql ibm_db_sa://{dsn_uid}:{dsn_pwd}@{dsn_hostname}:31249/bludb;security=SSL

#### Problem 1: Find the total number of crimes recorded in the CRIME table.

In [18]:
%sql select count(*) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[(533,)]

In [19]:
# ensure that there are no repeats in case number
%sql select count(distinct(CASE_NUMBER)) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[(533,)]

#### Problem 2: List community areas with per capita income less than 11000.

In [20]:
%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

#### Problem 3: List all case numbers for crimes involving minors?

In [21]:
%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where (PRIMARY_TYPE) = 'offense involving children' or lcase(DESCRIPTION) like '%minor';

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[('HL266884',), ('HK238408',)]

#### Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [22]:
%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where PRIMARY_TYPE= 'KIDNAPPING';

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[('HN144152',)]

#### Problem 5: What kind of crimes were recorded at schools?

In [23]:
%sql select PRIMARY_TYPE from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%SCHOOL%';

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPA',),
 ('PUBLIC PEACE VI',),
 ('PUBLIC PEACE VI',)]

#### Problem 6: List the average safety score for all types of schools

In [24]:
%sql select avg(SAFETY_SCORE) as AVERAGE_SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[(49,)]

#### Problem 7: List 5 community areas with highest % of households below poverty line.

In [25]:
%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5;

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

#### Problem 8: Which community area(number) is most crime prone?

In [26]:
%sql select COMMUNITY_AREA_NUMBER, count(CASE_NUMBER) as NUMBER_OF_CASES from CHICAGO_CRIME_DATA\
group by COMMUNITY_AREA_NUMBER order by NUMBER_OF_CASES desc limit 1;

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[(25, 43)]

#### Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [27]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from CENSUS_DATA);

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[('Riverdale',)]

#### Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [28]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA \
where COMMUNITY_AREA_NUMBER in \
(select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA \
group by COMMUNITY_AREA_NUMBER order by count(*) desc limit 1);

 * ibm_db_sa://myb97303:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb;security=SSL
Done.

[('Austin',)]